# Firebase initialization variables
# Can get those variables by downloading on this link
# https://console.firebase.google.com/project/{YOUR_PROJECT_ID}/settings/general/
# You will get all infos on 'your apps section'
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

# Your Next app url
# http://localhost:3000 for local
# https://your.domain.fr for production
NEXTAUTH_URL=

# Generated with 'npx auth secret'
# Used by authjs to create secret tokens
NEXTAUTH_SECRET=

# Link on your app to the firestore credentials. You can download file on this link
# https://console.firebase.google.com/project/{YOUR_PROJECT_ID}/settings/serviceaccounts/adminsdk
# exemple GOOGLE_APPLICATION_CREDENTIALS=./service-account.json if the file is at the root of the project
GOOGLE_APPLICATION_CREDENTIALS=

# Google provider credentials, can find this in developper console, Api & services > credentials > Oauth2 Client Ids
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Firestore adapter variables, can find them on the file downloaded previously for GOOGLE_APPLICATION_CREDENTIALS
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
